.header {
    width: 100%;
    // padding: 2rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;

    .header__logo {
        width: 200px;
        // height: 80px;
    }

    .header__container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__menu {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header__avatar {
            width: 80px;
            height: 80px;
        }

        .header__box {
            display: flex;
            gap: .8rem;
        }
        
    }

}
    
