$large: 900px;

.galleryContainer {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media screen and (min-width: $large) {
        grid-template-columns: 2fr .8fr;
    }
}