.banner {
    width: 100%;
    height: 80vh;
    background-image: url('https://www.teahub.io/photos/full/250-2509589_sword-art-online-desktop-wallpaper-hd.jpg');

}

.banner__container {
    width: 90%;
    height: 100%;
    margin: 2rem auto;
}

.banner__containerText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    color: #FFF;
}

.btn__box {
    display: flex;
    align-items: flex-end;
    gap: .6rem;
}

.btn__primary {
    width: 140px;
    padding: .4rem 0;
    background: rgb(255,253,122);
    background: linear-gradient(90deg, rgba(255,253,122,1) 0%, rgba(208,206,70,1) 41%, rgba(132,110,1,1) 81%);
    color: #FFF;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn__primary:hover {
    letter-spacing: .3px;
}

.btn__secondary {
    border: none;
    outline: none;
    width: 80px;
    padding: .4rem 0;
    border-radius: 2px;
    cursor: pointer;
    background-color: #EFEFEF;
}

.btn__secondary:hover {
    opacity: .94;
}

.box__actionBtn {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 380px;
    height: 70px;
}

.action__btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    padding: 0 1rem;
}

.action__btnOne {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,43,1) 41%, rgba(68,63,63,1) 81%);
}

.action__btnTwo {
    background: rgb(255,253,122);
    background: linear-gradient(90deg, rgba(255,253,122,1) 0%, rgba(208,206,70,1) 41%, rgba(132,110,1,1) 81%);
}